@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&family=PT+Serif:wght@300;400;500;600;700&display=swap&family=Crimson+Text:wght@400;700&display=swap');

* {
    margin:0;
    padding: 0;
    border: 0;
}

/* --------------------------------------------General */

body {
    max-width: 1500px;
    font-family: "Roboto", sans-serif;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

header {
    background-color: black;
}

footer {
    background-color: black;
    color: #85898c;
}

section {
    border-style: double;
    border-width: 1px;
    border-color: black;
}

.btn-primary {
    background-color: #a3001e;
    border-color: #a3001e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #a3001e9c;
    border-color: #a3001e9c;
}

.btn a {
    color: #fff;
} 

a {
    color: #85898c;
    background-color: transparent;
}

/* --------------------------------------------Header */

#name {
    display: flex;
    justify-content: center;
    font-family: "PT-Serif", sans-serif;
    color: #85898c;
    font-weight: bold;
    margin: 20px 0 0 0;
    letter-spacing: 3px;
}


@media screen and (max-width:378px) {
#name {
    font-size: 190%;
    }
}

#social-links-header li a i {
    padding-top: 10px;
    font-size: 120%;
    border-radius: 50%;
    color: #85898c;
} 

#social-links-header li a i:hover {
    color: rgba(255,255,255,.75);
}

.navbar li {
    font-size: 120%;
    list-style-type: none;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #85898c;
    text-decoration: underline;
    text-decoration-color: rgba(163,0,30);
}

/* --------------------------------------------Progress Section */

.hero-image {
        background: url("../images/background-images/parchment.png") no-repeat center center;
        background-size: cover;
}

.progress {
    position: relative;
    height: 25px;
    margin: 0px 40px 30px 15px;
    background-color: rgba(163,0,30,0.5);
}

.progress-section .col-sm-12 h5 {
    font-size: 110%;
}

.progress-section .col-sm-12 .progress-type {
    font-size: 110%;
}

.progress-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-section h5 {
    color: #a3001e;
    padding: 4px 30px 0px 10px;
    margin: 0 0 2px 15px;
    font-style: italic;
    font-weight: bold;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-size: larger;
    font-weight: bold;
    padding: 3px 30px 3px 10px;
    color: #85898c;
}

.progress-bar {
    background-color: black;
}

.navbar-toggler {
    margin-bottom: 8px;
}

#writing-progress-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-family: "PT-Serif", sans-serif;
    color: #a3001e;
    font-size: 175%;
    margin: 20px 0;
    letter-spacing: 3px;
}

#writing-progress-title h2 {
    font-weight: bold;
}

.fa-pencil-square-o {
    text-decoration: none;
}

@media screen and (max-width:1200px) {
.writing-progress {
    display: flex;
    justify-content: center;
    }
}

#profile-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width:1200px) {
#profile-image {
    display:none;
    }
}

/* --------------------------------------------Recently Published & Books Section */

.books {
    margin-top: 10px;
    padding: 0 4rem 3rem;
}

@media screen and (max-width:1200px) {
.books {
    padding: 0 2rem 2rem;
}
}

@media screen and (max-width:768px) {
.books {
    padding: 0 .8rem 1rem;
}
}

#recently-published {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-family: "PT-Serif", sans-serif;
    color: #a3001e;
    margin: 20px 0;
    margin-top: 2rem;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 175%;
}

#recently-published h2 {
    font-weight: bold;
}

.fa-book {
    text-decoration: none;
}

.h2, h2 {
    font-size: 1.7rem;
}

@media screen and (max-width:360px) {
.h2, h2 {
    font-size: 1.6rem;
}
}

@media screen and (max-width:320px) {
.h2, h2 {
    font-size: 1.4rem;
}
}

.cover-image-outer {
    animation-name: cover-image;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@media screen and (max-width:768px) {
.books {
    padding: 0 .8rem 1rem;
}
}

@keyframes cover-image {
    from{
        transform: scale(1.05);
    }
    to{
        transform: scale(1);
    }
}

.img-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 15px 0;
}

.synopsis-quotes {
    margin-top: 10px;
    padding-left: 20px;
    float: right;
}

.synopsis-title {
    font-family: "PT-Serif", sans-serif;
    color: #a3001e;
    font-weight: bold;
    font-style: italic;
}

.synopsis-text {
    font-family: "Crimson Text", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 130%;
    padding-right: 15px;
}

.quotes-title {
    font-family: "PT-Serif", sans-serif;
    color: #a3001e;
    font-weight: bold;
    font-style: italic;
}

.quotes-text {
    font-family: "Crimson Text", sans-serif;
    font-weight: bold;
    font-size: 130%;
    padding-right: 10px;
}

hr.rounded {
  border-top: 4px solid black;
  border-radius: 5px;
  padding: 5px;
}

/* --------------------------------------------Events */

.events {
    min-height: 700px;
}
.events-table {
    margin-top: 10px;
    padding: 0 9rem 3rem;
}

@media screen and (max-width:768px) {
.events-table {
    padding: 0 1.7rem 1rem;
}
}

#events-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-family: "PT-Serif", sans-serif;
    color: #a3001e;
    margin: 20px 0;
    margin-top: 2rem;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 175%;
}

#events-title h2 {
    font-weight: bold;
}

.signings h4 {
    color: #a3001e;
    font-weight: bold;
    font-style: italic;
    padding: 15px;
    padding-bottom: 10px;
}

.signings td {
    color: black;
    font-weight: bold;
}

.interviews h4 {
    color: #a3001e;
    font-weight: bold;
    font-style: italic;
    padding: 15px;
    padding-bottom: 10px;
}

.interviews td {
    color: black;
    font-weight: bold;
}

.table-dark {
    color: #85898c;;
    background-color: black;
}

/* --------------------------------------------Bio */

.early-years {
    margin-top: 10px;
    padding: 0 9rem 3rem;
}

@media screen and (max-width:800px) {
.early-years {
    padding: 0 1.7rem 1rem;
}
}

.bio-title {
    color: #a3001e;
    font-weight: bold;
    font-style: italic;
}

.life {
    font-family: "Crimson Text", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 130%;
    padding-right: 15px;
}

/* --------------------------------------------Contact */

section .container {
    max-width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 0;
}

@media screen and (max-width: 1200px) {
section .container {
    max-width: 80%;
}
}

@media screen and (max-width: 992px) {
section .container {
    max-width: 90%;
}
}

.form-group {
    color: #a3001e;
    font-weight: bold;
}

.form-text {
    color: #a3001e;
    font-weight: bold;
}

/* --------------------------------------------Footer */

footer {
    width: 100%;
    margin: 0px;
    height: auto;
}

.footer-left {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
.footer-left {
    margin-top: 10px;
}
}

.policy {
    color: #85898c;
    background-color: black;
    background-size: 6px 12px;
}

.rights {
    font-size: 70%;
}

.footer-center {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
.footer-center {
    margin-top: 10px;
}
}

.social-links-footer {
    text-align: center;
}

.social-links-footer i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links-footer li a i {
    width: 30px;
    height: 30px;
    padding: 15px 20px;
    font-size: 120%;
    border-radius: 50%;
    color: #85898c;
}

.social-links-footer li a i:hover {
    color: rgba(255,255,255,.75);
}

.footer-right {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
.footer-right {
    margin-top: 10px;
}
}

.host {
    display: flex;
    justify-content: center;
}

.host-link {
    display: flex;
    justify-content: center;
}

.host a {
    color: #85898c;
    text-decoration: underline;
}

.host a:hover {
    color: rgba(255,255,255,.75);
}