@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=PT+Serif:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    border: 0;
}

/* --------------------------------------------Colours */

.bg-colour-header{
    background-color: #3f2413;
    height: 100px;
}

#menu a{
    color: #afbe8f;
}

/* --------------------------------------------Heading */

body{
    font-family: "Roboto", sans-serif;
}

h2{
    font-family: "PT-Serif", sans-serif;
}

#name{
    color: #afbe8f;
    text-align: center;
    font-size: 260%;
    letter-spacing: 5px;
}

#menu li{
    color: #afbe8f;
    margin-right: 10px;
    float: right;
    font-size: 120%;
    list-style-type: none;
}